<%- include('partials/header') %>
  <main class="flex flex-col min-h-screen">
    <div>
      <ul>
        <% for(let i = 0; i < pets.length; i++) {%>
          <li >
            <a href="/pet/<%= pets[i]._id%>">
              <img src="<%= pets[i].image%>" class="max-w-full h-auto rounded-full" alt="<%= pets[i].name %> profile link">
            </a>
          </li>
        <% } %>
        </ul>
    </div>
  </main>  
<%- include('partials/footer') %>