<%- include('partials/header') %>

<div>
    <h2>Edit Pet:</h2>
    <form action="/pet/editPet/<%= pet.id %>" enctype="multipart/form-data" method="POST">
      <div>
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" value="<%= pet.name %>">
      </div>
      <div>
        <label for="careType">Service Type:</label>
        <input type="text" id="careType" name="careType" value="<%= pet.careType %>">
      </div>
      <div>
        <label for="frequency">Service Frequency:</label>
        <input type="text" id="frequency" name="frequency" value="<%= pet.frequency %>">
      </div>
      <div>
        <label for="animalType">Animal Type:</label>
        <input type="text" id="animalType" name="animalType" value="<%= pet.animalType %>">
      </div>
      <div>
        <label for="allergies">Allergies:</label>
        <input type="text" id="allergies" name="allergies" value="<%= pet.allergies %>">
      </div>
      <div>
        <label for="meds">Medicines:</label>
        <input type="text" id="meds" name="meds"value="<%= pet.meds %>">
      </div>
      <div>
        <label for="treats">Treats/Food Details:</label>
        <input type="text" id="treats" name="treats" value="<%= pet.treats %>">
      </div>
      <div>
        <label for="note" >Note:</label>
        <textarea id="note" name="note" value="<%= pet.notes %>"></textarea>
      </div>
      <div>
        <label for="imgUpload">Image</label>
        <input type="file" id="imageUpload" name="file">
      </div>
      <button type="submit" value="Upload">Submit</button>
      <a href="/pet/<%= pet.id %>">Cancel</a>
    </form>
  </div>
  
<%- include('partials/footer') %>