<%- include('partials/header') %>
<div>
  <div>
    <div>
      <h2>Name: <%= pet.name %></h2>
      <img src="<%= pet.image%>" />

      <div>
        <p>Service Type: <%= pet.careType %></p>
        <p>Service Frequency: <%= pet.frequency %></p>
        <p>Animal Type: <%= pet.animalType %></p>
        <p>Allergies: <%= pet.allergies %></p>
        <p>Medicines: <%= pet.meds %></p>
        <p>Treats/Food: <%= pet.treats %></p>
        <p>Notes: <%= pet.notes %></p>

        <%if(pet.user == user.id){ %>
          <a href="/pet/editPet/<%=pet.id %>"><span class="fas fa-edit"></span></a>
          <form action="/pet/deletePet/<%= pet.id %>?_method=DELETE" method="POST">
            <button class="btn btn-primary fa fa-trash" type="submit"></button>
          </form>
        <%}%>
      </div>

    </div>
    <div>
      <p><%= pet.title %></p>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
