<%- include('partials/header') %>
<div>
  <div>
    <div>
      <h2><%= pet.title %></h2>
      <img src="<%= pet.image%>" />
      <div>
        <%if(pet.user == user.id){ %>
        <form
          action="/pet/deletePet/<%= pet.id %>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
        <%}%>
      </div>
    </div>
    <div>
      <p><%= pet.title %></p>
    </div>
    <div>
      <a href="/profile">Return to Profile</a>
      <a href="/feed">Return to Feed</a>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
