<%- include('partials/header') %>
<div>
  <div>
      <div>
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout">Logout</a>
          </div>
          <div>
            <h2>Add a pet</h2>
            <form action="/pet/createPet" enctype="multipart/form-data" method="POST">
              <div>
                  <label for="name" >Name</label>
                  <input type="text" id="name" name="name">
              </div>
              <div>
                <label for="careType" >Service Type</label>
                <input type="text" id="careType" name="careType">
            </div>
              <div>
                <label for="note" >Note</label>
                <textarea id="note" name="note"></textarea>
              </div>
              <div>
                <label for="imgUpload">Image</label>
                <input type="file" id="imageUpload" name="file">
              </div>
              <button type="submit" value="Upload">Submit</button>
            </form>
          </div>
      </div>
      <div>
        <ul>
        <% for(var i=0; i<pets.length; i++) {%>
          <li>
            <a href="/pet/<%= pets[i]._id%>">
              <img src="<%= pets[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
        <div>
          <a href="/feed">Return to Feed</a>
        </div>  
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') %>