<%- include('partials/header') -%>
<div>
  <div>
      <div>
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout">Logout</a>
          </div>
          <div>
            <h2>Add a post</h2>
            <form action="/post/createPost" enctype="multipart/form-data" method="POST">
              <div>
                  <label for="title" >Title</label>
                  <input type="text" id="title" name="title">
              </div>
              <div>
                <label for="caption" >Caption</label>
                <textarea id="caption" name="caption"></textarea>
              </div>
              <div>
                <label for="imgUpload">Image</label>
                <input type="file" id="imageUpload" name="file">
              </div>
              <button type="submit" value="Upload">Submit</button>
            </form>
          </div>
      </div>
      <div>
        <ul>
        <% for(var i=0; i<posts.length; i++) {%>
          <li>
            <a href="/post/<%= posts[i]._id%>">
              <img src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
        <div>
          <a href="/feed">Return to Feed</a>
        </div>  
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>